# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Git temporary files
*.swp
*.swo

# Optional cache
.cache/